.logo img {
    width: 52px;
}
.hvr-shutter-in-horizontal {
    background: #806636;
}
.hvr-shutter-in-horizontal::before {
    background: #806636;
}
.subtitle{
    font-family: 'Shadows Into Light', cursive;
    margin-top: 1rem;
}
.slider-table-cell h2 {
    font-size: 72px;
}
.about-area {
    background-color: #1A1A1A;
}
.history-part {
    background-color: #020202;
}
.business-part {
    background-color: #1A1A1A;
}
.about-history {
    padding: 32px 0;
}
.news-img::before {
    background-color: rgba(0, 0, 0, 0);
}
.contact-area {
    background-color: #0F0F0F;
}
.footer-area {
    padding: 24px 0;
    background-color: #282828;
}
.lang img {
    width: 24px;
    margin-right: 4px;
    border-radius: 2px;
    border: 1px rgba(255,255,255,0.5) solid;
}
.lang a {
    color: #fff;
    font-weight: bold;
}
.lang{
    padding: 20px 0px;
    position: relative;
}